@charset "UTF-8";

/**
 * common css
 */

* {
  color: #4e555b;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  font-family: dotum, "돋움", Arial, gulim, "굴림", Helvetica, sans-serif;
  font-size: 1.4rem;
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

p {
  margin-bottom: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

img {
  max-width: 100%;
}

a:link {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-family: dotum, "돋움", Arial, gulim, "굴림", Helvetica, sans-serif;
}

h5 {
  font-size: 1.6rem;
}

.align_center {
  text-align: center;
}

.align_left {
  text-align: left;
}

.align_right {
  text-align: right;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.wrap_contents {
  position: relative;
  width: 1000px;
  height: 891px;
}

.wrap_contents .section_header {
  position: relative;
  height: 60px;
  padding: 0 20px;
  background: #dfdfdf;
}
.wrap_contents .section_header h1 {
  line-height: 60px;
}
.wrap_contents .section_header .logo {
  display: block;
  position: absolute;
  top:20px;
  right:150px;
  width: 112px;
  height: 37px;
  background: url("../../resources/img/graphledger-logo.png") 0 0 no-repeat;
  background-size: 112px;
}
.wrap_contents .section_header .logo_dm {
  display: block;
  position: absolute;
  top:9px;
  right:20px;
  width: 112px;
  height: 37px;
  background: url("../../resources/img/dm_logo.png") 0 0 no-repeat;
  background-size: 112px;
}
.section_button {
  height: 80px;
  padding: 20px 0 0 0;
  text-align: center;
}
.section_button .btn {
  width: 130px;
  height: 40px;
  line-height: 30px;
  font-size: 1.6rem;
}
.area_contents {
  background: #fff;
  position: relative;
  height: 751px;
}
.area_contents.area_user_graph .box_legend {
  position: absolute;
  top:10px;
  left:20px;
  width: 150px;
  height: 100px;
}
.area_contents.area_user_graph .box_legend ul li {
  position: relative;
  padding-left: 55px;
  font-size: 1.6rem;
}
.area_contents.area_user_graph .box_legend ul li:before {
  content: '';
  display: block;
  position: absolute;
  top:10px;
  left:0;
  width: 38px;
  height: 4px;
}
.area_contents.area_user_graph .box_legend ul li:nth-child(1):before {
  background:rgb(79, 195, 247);
}
.area_contents.area_user_graph .box_legend ul li:nth-child(2):before {
  background:rgba(134,134,255,1);
}
.area_contents.area_user_graph .box_legend ul li:nth-child(3):before {
  background:rgba(255,162,0,1);
}
.area_contents.area_user_graph .box_legend ul li:nth-child(4):before {
  content: '';
  background: url("../../resources/img/sprite_common.png") -175px -50px no-repeat;
  background-size: 250px;
  color:rgba(134,134,255,1);
  top:11px
}

.box_legend_dot {
  position: absolute;
  top:12px;
  left: 230px;
}
.box_legend_dot ul li {
  float: left;
  margin-right: 20px;

}
.box_legend_dot ul li span,
.box_legend_dot ul li p {
  display: inline-block;
  vertical-align: middle;
}
.box_legend_dot ul li span {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 5px;
}
.box_legend_dot ul li:nth-child(1) span{
  background: rgba(255,205,0,1);
}
.box_legend_dot ul li:nth-child(2) span{
  background: rgba(79,195,247,1);
}
.box_legend_dot ul li:nth-child(3) span{
  background: rgba(0,220,190,1);
}
.box_legend_dot ul li:nth-child(4) span{
  background: rgba(153,169,251,1);
}
.box_legend_dot ul li:nth-child(5) span{
  background: rgba(255,162,0,1);
}
.box_graph {
  border: #eee 2px solid;
}
.box_graph svg {
  width: 100%;
  height: auto;
}

.box_zoom {
  display: none;
  position: absolute;
  top:115px;
  left: 15px;
  text-align: center;
  font-size: 1rem;
  opacity: 0.4;
  background: #fff;
}
.box_zoom span {
  display: inline-block;
  width: 36px;
  height: 63px;
  background: url("../../resources/img/sprite_common.png") -125px -50px no-repeat;
  background-size: 250px;
}

/* popup */
.popup_dim {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 200;
  overflow-y: auto;
  text-align: center;
}

.popup_dim.popup_dim_transparent {
  background: transparent;
}

.popup_dim:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}

.popup {
  display: inline-block;
  min-width: 300px;
  background: #fff;
  padding: 15px;
  vertical-align: middle;
  text-align: left;
}

/* grid */
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}

/**
 * Graph
 */

.area_user_graph .link {
  stroke-width: 0.5px;
}
.bbox {
  stroke-width: 1px;
  fill: rgba(0,0,0,0.6);
  transition: 0.3s;
}
.node-label {
  font-size: 0.5rem;
  text-anchor: middle;
  fill:#fff;
}

.node-label.node-me {
  font-size: 1rem;
}
.node-label01 {
  font-size: 0.5rem;
  text-anchor: middle;
  fill:#000
}
.node-group.node-me i {
  font-size: 2rem;
}
tspan {
  font-size: 4px;
}
.bbox1 {
  stroke-width: 0.5px;
  stroke: rgba(162,162,162,0.5);
  fill: rgba(255,255,255,0.85);
}
.bbox_angle {
  stroke-width: 0.5px;
  stroke: rgba(162,162,162,0.5);
  fill: rgba(255,255,255,1);
}
.bbox1.me {
  stroke: rgba(94,168,194,0.8);
  fill: rgba(101,177,194,0.15);
}

.bbox1.active {
  fill:rgba(255,255,241,1);
  stroke: rgba(0,0,0,1);
}
.node-group {
  cursor: pointer;
}
.status_node {
  stroke-width: 0.7px;
}
.status_node.active {
  stroke-width: 4px;
  stroke: rgba(114,220,255,0.5);
}

line {
  stroke: #ccc;
  stroke-opacity: 0.6;
}
.links line {
  stroke: #ccc;
  stroke-opacity: 0.6;
}
.peer_links line {
  stroke: #ccc;
  stroke-opacity: 0.6;
}

.peer_nodes circle {
  stroke: #000;
  stroke-width: 1px;
}
.svg_txt text {
  fill:#000;
}
foreignObject {
  width: 180px;
  height: 25px;
  transform:  scale(0.3) translate(-85px, 0);
  transform-origin: top left;
  text-align: center;
}
foreignObject i {
  font-size: 1.1rem;
  color: #fff;
}
foreignObject i.fa-user-alt {
  transform:  scale(0.7);
  transform-origin: top center;
}
foreignObject i.fa-user-alt.me {
  font-size: 1.6rem;
  transform: translate(2px, 0);
  transform-origin: inherit;
}
foreignObject i.fa-file-alt {
  transform:  scale(0.9);
  transform-origin: top center;
}


.box_loader {
  display: inline-block;
  vertical-align: middle;
}
.loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.5), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(0, 0, 0, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.5), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.5), 2.5em 0em 0 0em rgba(0, 0, 0, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(0, 0, 0, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.5), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.5), 0em 2.5em 0 0em rgba(0, 0, 0, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(0, 0, 0, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.5), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.5), -2.6em 0em 0 0em rgba(0, 0, 0, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.5), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(0, 0, 0, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.5), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.5), 2.5em 0em 0 0em rgba(0, 0, 0, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(0, 0, 0, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.5), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.5), 0em 2.5em 0 0em rgba(0, 0, 0, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(0, 0, 0, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.5), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.5), -2.6em 0em 0 0em rgba(0, 0, 0, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
